%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1);
  }
  &--primary {
    color: var(--color-primary);
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.8rem;
  color: var(--color-primary);
  //   text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: var(--color-grey-light-1);
  }
  &--dark {
    color: var(--color-grey-dark-1);
  }
}

.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
section {
  padding: 6rem 0;
  margin-bottom: 4rem;
}
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10rem;
  @include respond(tab-port) {
    padding: 5rem;
  }
  @include respond(phone) {
    padding: 0rem;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 6rem;
  h1 {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
  }
  h1::before,
  h1::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  h1::before {
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.75);
  }
  h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
    background-color: rgba($color-primary-dark, 1);
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}
.section-heading-white {
  text-align: center;
  margin-bottom: 6rem;
  h1 {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    color: var(--color-grey-light-1);
  }
  h1::before,
  h1::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(#fff, 1);
  }
  h1::before {
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
  }
  h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
.mr-md {
  margin-right: 5rem;
}
.text-white {
  color: var(--color-white);
}
.text-primary-color {
  color: var(--color-primary);
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}

.fa-linkedin:hover {
  color: #0e76a8;
}
.fa-github-square:hover,
.fa-github:hover {
  color: #3e2c00;
}
.fa-globe:hover {
  color: #0e76a8;
}
.fa-envelope:hover,
.fa-phone:hover,
.fa-user-tie:hover {
  color: var(--color-primary-dark);
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
